body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
    
  header {
    margin-bottom: 1%;
    text-align: center;
    background-color: #19334d;
    color: white;
    border-radius: 0;
    border-bottom: 5px solid #777777;
    font-family: 'Shadows Into Light', cursive;
  }

  h1 {
    margin-bottom: 2%;
  }

  .container {
    margin-bottom: 5%;
  }
  
  .col-sm-1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 130%;
    text-align: center;
    border-radius: 15px;
    border: 1px solid gray;
    background-color: rgb(146, 180, 245);
    padding-top: 1.5%; 
    font-weight: bold;
  }

  .col-sm-10 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 200%;
    background-color: lightgray; 
    border-radius: 15px;
    border: 1px solid gray;
    height: 100%;
    width: 100%;
  }

  .savebtn {
    text-align: center;
    border-radius: 15px;
    border: 1px solid gray;
    background-color: blue;
    padding-top: 1%;
  }

  .savebtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  .row {
    /* white-space: pre-wrap; */
    height: 55px;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    /* background-color: lightgray; */
    border-radius: 15px;
  }
      


  #footer {
    clear: both;
    padding: 15px;
    background-color: #19334d;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-size: 150%;
    text-align: center;
    border-top: 4px solid #777777;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  } 
  